.cimage{
  min-width: 100%;
  max-width: 100%;
  min-height: 1em;
  max-height: 30em;
}

.prenav{
  background-color: #051094;
  color: white;
  padding: 0.5em;
}


.mcard{
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
  position: relative;
}
.postcarousel{
  background-color: #fffafa;
  width: 100%;
  box-shadow:         3px 3px 5px 6px #ccc;
}

.zoom {
  transition: transform .2s;
  margin: 0 auto;

}

.zoom:hover {
  -ms-transform: scale(-1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

.App-link {
  color: #61dafb;
}

.myfooter{
  background-color: black;
  color: white;
  position: relative;
  width: 100%;
  bottom: 0px;
  border: 3px solid #8AC007;
}
.centered{
  text-align: center;
}
.transparent{
    background-color: #000000;
    opacity: .6;
    border-radius: 50%;
}
.csm{
  padding: 0.5em;
}
.detimages{
  width: 100%;
  max-height: 20em;
}
